@import '../../../../variables';

.navbar {
  background-color: $portfolio-dark-green;
  border-radius: 0;
  clear: both;
  height: 59px;
  margin-bottom: 0;

  a {
    @include type-setting(4);
    font-family: $site-header-font;
  }
}

.form-wrapper {
  opacity: .8;

  input {
    background-color: fade-out($portfolio-white, .4);
  }
}

@media (max-width: 1006px) {
  .form-wrapper {
    display: none;
  }
}
