<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       [routerLink]="['/']">
      <img class="mb-2 mr-4" [src]="'assets/images/grasshopper-dark-yellow.png'" width="60" alt="grasshopper">Gryllidae
      Creations</a>
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/']"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/blog']"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact: false}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/projects']"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact: true}">Projects</a>
        </li>
      </ul>
      <div class="form-wrapper my-auto" role="presentation">
        <form class="form-inline my-3 pull-right">
          <input name="search-input" class="form-control mr-sm-3" placeholder="Search" (keyup.enter)="handleKeydownSubmit()" [(ngModel)]="searchTerm">
          <a class="btn btn-success my-3 my-sm-0" [routerLink]="['/blog']" [queryParams]="{searchTerm: searchTerm}">Search</a>
        </form>
      </div>
    </div>
  </nav>
</header>
