@import "../../variables";

.navbar {
  background-color: fade(@portfolio-teal-green, 90%);
  border-radius: 0;
}

.form-wrapper {
  opacity: .8;
}

.nav-link {
  font-size: 3rem;
  font-family: 'Baloo', cursive;
}

.navbar-brand {
  img {
    height: 200%;
    margin-top: -1.8rem;
  }
}

