@import '../../variables';

footer {
  margin-bottom: -4rem;
  width: 100%;
}

.nav-link {
  color: $portfolio-aqua;

  &:hover {
    background-color: transparent;
    font-weight: 300;
  }
}

.navbar {
  background-color: $portfolio-dark-green;
  border-radius: 0;
  margin-bottom: 0;
}

.on-homepage {
  background-color: transparent;
}
