@import "../../variables";

footer {
  width: 100%;
  opacity: .9;
}

.nav-link {
  color: @portfolio-aqua;
  &:hover {
    background-color: transparent;
    font-weight: 300;
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  margin-bottom: -4rem;
}
