@import '../../../variables';

.row {

  .post-item-card {
    background-color: $portfolio-very-light-gray;
    border: 1px solid $portfolio-gray;
    margin-bottom: 10px;
    margin-top: 5px;

    .img-thumbnail {
      height: 65vh;
      margin-right: 10px;
      max-height: 100px;
      width: auto;
    }
  }

  &:first-child .post-item-card {
    margin-top: 10px;
  }

  &.limit-width {
    width: 100%;
  }
}

/deep/ .page-link {
  background-color: transparent;
  border: 1px solid $portfolio-aqua;
  color: $portfolio-dark-yellow;

  &:hover {
    background-color: $portfolio-dark-teal;
    border: 1px solid $portfolio-aqua;
    color: $portfolio-light-gray;
  }
}

/deep/ .page-item {

  &.disabled .page-link {
    background-color: transparent;
    border: 1px solid $portfolio-aqua;
    color: $portfolio-dark-yellow;
  }

  &.active .page-link {
    background-color: $portfolio-medium-green;
    border: 1px solid $portfolio-aqua;
    color: $portfolio-very-light-gray;
  }
}
