<div class="main-content" role="presentation">
  <div class="container" role="presentation">
    <div class="row" role="presentation">
      <div class="col-xs-12">
        <h1 class="ballo-font header-title">Some things I'm working on</h1>
      </div>
    </div>
    <div class="row" role="presentation">
      <ng-container *ngFor="let project of projects">
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <img class="card-img-top" [src]="project?.image" [alt]="project?.imageDescription">
            <div class="card-block">
              <h4 class="card-title">{{project?.title}}</h4>
              <p class="card-text">{{project?.description}}</p>
              <a href="#" class="btn btn-success project-button">Read more</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
