@import '../../variables';

.card {
  background-color: $portfolio-gray;
  color: $portfolio-dark-yellow;

  img {
    margin: 1rem;
    max-width: 50%;
  }
}

.project-button {
  float: right;
  opacity: .8;
}
