<main class="container-fluid main-content">
  <div class="row" role="presentation">
    <div class="col-6 offset-3" role="presentation">
      <div class="jumbotron login-jumbotron">
        <form>
          <div class="form-group">
            <label for="user-name">Username</label>
            <input type="text" class="form-control" id="user-name" name="user-name">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
        </form>
        <button class="btn btn-lg btn-success ml-5">
          <span class="fa fa-sign-in" role="presentation" aria-hidden="true"></span> Login
        </button>
      </div>
    </div>
  </div>
</main>
