<footer>
  <nav class="navbar"
       [ngClass]="{'fixed-bottom': makeFooterSticky, 'on-homepage': onHomePage}">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about-me']">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link pull-left" href="https://github.com/mrbgit">
          <span class="fa fa-github-alt" aria-hidden="true"></span>
        </a>
        <a href="https://stackoverflow.com/users/5045467/cascadiajs" class="nav-link pull-left">
          <span class="fa fa-stack-overflow" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
