@import "variables";

// Html root default font size should be set at 8px. So 1 rem = 8px.
html {
  font-size: 8px;
}

body {
  margin-top: 60px;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('assets/images/green-cricket-background.jpg');
  background-size: cover;
}

@media (max-width: 992px) {
  body {
    margin-top: 210px;
  }
}

@media (max-width: 768px) {
  body {
    margin-top: 60px;
  }
}
