@import 'variables';

html {
  font-size: $base-font-size;
}

body {
  @include type-setting(6);
  background-color: $portfolio-black;
  background-image: $background-image;
  background-position: $background-position;
  background-size: $background-size;
  padding-top: 59px;
}

h1 {
  @include type-setting(1);
}

h2 {
  @include type-setting(2);
}

h3 {
  @include type-setting(3);
}

h4 {
  @include type-setting(4);
}

h5 {
  @include type-setting(5);
}

.main-content {
  background-color: fade-out($portfolio-dark-green, .5);
  min-height: calc(#{'100vh - 50px'});
}

.ballo-font {
  font-family: 'Baloo', cursive;
}

.header-title {
  color: $portfolio-dark-yellow;
  font-family: 'Baloo', cursive;
}

@media (max-width: $md-max-width) {
  body {
    margin-top: 209px;
  }
}

@media (max-width: $sm-max-width) {
  body {
    margin-top: 59px;
  }
}
