// fonts
$default-font: 'Ubuntu', sans-serif;
$header-font: 'Oswald' sans-serif;
$site-header-font: 'Baloo', cursive;
// font sizes
$base-font-size: 14px;
$type-scale: (
  -1: 2rem, // body text
  0: 4.5rem, // Page Title
  1: 4rem, // Header 1
  2: 3.5rem, // Header 2
  3: 3rem, // Header 3
  4: 2.5rem, // Header 4
  5: 2rem // Header 5
);
// font weights
$font-weights: (
  -1: 300, // body text
  0: 400, // Page Title
  1: 400, // Header 1
  2: 400, // Header 2
  3: 400, // Header 3
  4: 300, // Header 4
  5: 300 // Header 5
);
// font families
$font-types: (
  -1: $default-font, // body text
  0: $header-font, // Page Title
  1: $header-font, // Header 1
  2: $header-font, // Header 2
  3: $header-font, // Header 3
  4: $header-font, // Header 4
  5: $header-font // Header 5
);
// line heights
$base-line-height: $base-font-size;
$line-heights: (
    -1: $base-line-height * 3,
    0: $base-line-height * 5,
    1: $base-line-height * 5,
    2: $base-line-height * 4,
    3: $base-line-height * 4,
    4: $base-line-height * 3,
    5: $base-line-height * 3
  );

// font settings mix-in
@mixin type-setting ($level: 0) {
  font-size: map-get($type-scale, $level);
  line-height: map-get($line-heights, $level);
  font-family: map-get($font-types, $level);
  font-weight: map-get($font-weights, $level);
}
// theme colors
$portfolio-dark-green: #012615;
$portfolio-dark-teal: #012621;
$portfolio-medium-green: #127334;
$portfolio-aqua: #04894c;
$portfolio-magenta: #731231;
$portfolio-dark-yellow: #627312;
$portfolio-greenish-yellow: #3c470b;
$portfolio-gray: #141414;
$portfolio-light-gray: #727272;
$portfolio-very-light-gray: #e8e8e8;
$portfolio-black: #000;
$portfolio-white: #fff;
// other colors
$header-default-color: #212529;
  // grid widths
$xs-max-width: 575px;
$sm-max-width: 767px;
$md-max-width: 991px;
$lg-max-width: 1199px;
// background
$background-image: radial-gradient($portfolio-white, rgba($portfolio-white, .2) 2px, transparent 40px),
                  radial-gradient($portfolio-white, rgba($portfolio-white, .15) 1px, transparent 30px),
                  radial-gradient($portfolio-white, rgba($portfolio-white, .1) 2px, transparent 40px),
                  radial-gradient(rgba($portfolio-white, .4), rgba($portfolio-white, .1) 2px, transparent 30px);
$background-position:  0 0, 40px 60px, 130px 270px, 70px 100px;
$background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
