// fonts
$default-font: 'Ubuntu', sans-serif;
$header-font: 'Baloo', cursive;
// font sizes
$base-font-size: 8px;
// theme colors
$portfolio-dark-green: #012615;
$portfolio-dark-teal: #012621;
$portfolio-medium-green: #127334;
$portfolio-aqua: #04894c;
$portfolio-magenta: #731231;
$portfolio-dark-yellow: #627312;
$portfolio-gray: #141414;
$portfolio-light-gray: #727272;
$portfolio-very-light-gray: #e8e8e8;
$portfolio-black: #000;
$portfolio-white: #fff;
// grid widths
$xs-max-width: 575px;
$sm-max-width: 767px;
$md-max-width: 991px;
$lg-max-width: 1199px;
// background
$background-image: radial-gradient($portfolio-white, rgba($portfolio-white, .2) 2px, transparent 40px),
                  radial-gradient($portfolio-white, rgba($portfolio-white, .15) 1px, transparent 30px),
                  radial-gradient($portfolio-white, rgba($portfolio-white, .1) 2px, transparent 40px),
                  radial-gradient(rgba($portfolio-white, .4), rgba($portfolio-white, .1) 2px, transparent 30px);
$background-position:  0 0, 40px 60px, 130px 270px, 70px 100px;
$background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
