$header-font: 'Baloo', cursive;

$portfolio-dark-green: #012615;
$portfolio-dark-teal: #012621;
$portfolio-medium-green: #127334;
$portfolio-aqua: #04894c;
$portfolio-magenta: #731231;
$portfolio-dark-yellow: #627312;
$portfolio-gray: #141414;
$portfolio-black: #000;
$portfolio-white: #fff;

$xs-max-width: 575px;
$sm-max-width: 767px;
$md-max-width: 991px;
$lg-max-width: 1199px;
