@import "../../variables";

.jumbotron {
  margin-top: 8rem;
  padding-top: 3rem;
  background-color: fade(@portfolio-dark-green, 50%);
  img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    color: @portfolio-dark-yellow;
    margin-left: 5rem;
  }
  h1 {
    color: @portfolio-dark-yellow;
    font-family: 'Baloo', cursive;
  }
}

hr {
  border: .5rem solid @portfolio-dark-yellow;
  width: 50%;
}


.lead {
  margin-top: 3rem;
}

.opacity-zero {
  opacity: 0;
}

.fly-in-header {
  h1 {
    display: inline-block;
  }
}

.display-3 {
  span {
    display: inline-block;
    margin: auto -5px;
  }
}
