@import '../../variables';

.main-content {
  background: $portfolio-very-light-gray url('../../assets/images/green-cricket-background.jpg');
  background-size: cover;
  min-height: calc(#{'100vh'});
}

.jumbotron {
  background-color: fade-out($portfolio-dark-green, .5);
  margin-top: 8rem;
  padding-top: 3rem;

  img {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  p {
    color: $portfolio-dark-yellow;
    margin-left: 5rem;
  }
}

hr {
  border: .5rem solid $portfolio-dark-yellow;
  width: 50%;
}


.lead {
  margin-top: 3rem;
}

.opacity-zero {
  opacity: 0;
}

.fly-in-header {
  h1 {
    display: inline-block;
  }
}

.display-3 {
  span {
    display: inline-block;
    margin: auto -5px;
  }
}
