<div class="container-fluid main-content" role="presentation">
  <div class="row" role="presentation">
    <div class="col-8 offset-4">
      <div class="jumbotron fly-in-header">
        <h1 class="display-3 header-title">{{siteTitle}}</h1>
        <p class="lead">{{pageContent}}</p>
        <img [@wobble]="wobbleState" (@wobble.done)="resetWobble()"
             (mouseover)="triggerAnimation()" [src]="'assets/images/grasshopper-dark-yellow.png'" alt="cricket"
             class="mx-auto d-block">
      </div>
    </div>
  </div>
</div>
